@import "tailwindcss";

:root {
  --font-body: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --color-bg-0: rgb(237, 255, 230);
  --color-theme-1: #1a4a1e;
  --color-theme-2: #41ac48;
  --color-text: hsl(0, 0%, 20%);
  --color-text-dark: hsl(0, 0%, 100%);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-family: var(--font-body);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: var(--color-bg-0);
  background-size: 100vw 100vh;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  padding: 5vh 3em;
  max-width: 1080px;
  margin: 0 auto;
}

.button {
  appearance: none;
  display: inline-block;
  text-decoration: none;
  background: var(--color-text-dark);
  color: var(--color-theme-1);
  border-radius: 100px;
  font-weight: 500;
  border: none;
  font-size: 1.5rem;
  border: none;
  padding: 0.5em 0.9em;
  cursor: pointer;
  transition: transform ease 0.4s;
}

.button:hover {
  transform-origin: center;
  transform: scale(1.05);
}

.Landing {
  background: var(--color-theme-1);
  background: linear-gradient(
    45deg,
    var(--color-theme-2) 0%,
    var(--color-theme-1) 100%
  );
}

.Testimonials .container {
  padding: 0;
}
/* .TestimonialItem {
  padding: 2rem 2rem;
  min-height: 60vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 0;
} */

/* .TestimonialItem h2 {
  font-size: 45px;
} */

/* .TestimonialItem p {
  font-size: 22px;
  font-weight: bold;
} */

/* .TestimonialItem img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 42px;
} */

@media (min-width: 720px) {
  .TestimonialItem {
    grid-template-columns: 1fr 2fr;
    gap: 5vw;
  }

  .TestimonialItem.right {
    grid-template-columns: 2fr 1fr;
  }

  .TestimonialItem.right img {
    order: 2;
  }
}

#pwa-toast {
  visibility: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 16px;
  padding: 12px;
  border: 1px solid #8885;
  border-radius: 4px;
  z-index: 1;
  text-align: left;
  box-shadow: 3px 4px 5px 0 #8885;
  display: grid;
}
#pwa-toast .message {
  margin-bottom: 8px;
}
#pwa-toast .buttons {
  display: flex;
}
#pwa-toast button {
  border: 1px solid #8885;
  outline: none;
  margin-right: 5px;
  border-radius: 2px;
  padding: 3px 10px;
}
#pwa-toast.show {
  visibility: visible;
}
button#pwa-refresh {
  display: none;
}
#pwa-toast.show.refresh button#pwa-refresh {
  display: block;
}
